@-webkit-keyframes transitionDivInfo {
  0% {
    right: 0px;
  }
  100% {
    right: 200px;
  }
}
@-moz-keyframes transitionDivInfo {
  0% {
    right: 0px;
  }
  100% {
    right: 200px;
  }
}
@keyframes 'transitionDivInfo' {
  0% {
    right: 0px;
  }
  100% {
    right: 200px;
  }
}
